<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <web.Properties.Settings>
            <setting name="PriceType" serializeAs="String">
                <value>Розничная</value>
            </setting>
            <setting name="Site" serializeAs="String">
                <value>http://bazby.ru</value>
            </setting>
            <setting name="License" serializeAs="String">
                <value>BFEBFBFF000206A7</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="CS" serializeAs="String">
                <value>Srvr="srvnew";Ref="utrus";Usr="Admin";Pwd="9780100941";</value>
            </setting>
        </web.Properties.Settings>
    </userSettings>
</configuration>
